$white: #ffffff;
$black: #444444;
$grey: #647787;
$grey_2: #787c90;
$grey_3: #eaeef0;
$grey_4: #7f8fa4;
$grey_5: #979797;
$focused-grey: #f4f4f4;
$danger: #ff5b5b;
$bg: #f7f8fa;
$primary: #27ae60;
$dark-text: #414042;
$dark-text2: #262626;
$dark-text3:#787878;
$yellow: #ebc315;
$green: #27ae60;
$blue: #1860ec;
$blue-2: #1875F0;
$box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.07);
