@import '../../styles/variables.scss';
.Layout {
  font-size: 1rem;
  display: grid;
  grid-template-rows: 3.75em 1fr;
  font-family: 'Segoe UI';

  .header {
    padding: 0 1rem;
    box-shadow: $box-shadow;
    display: grid;
    align-items: center;
    grid-template-columns: 16.255em 1fr;

    &Content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 2.1875em;
      .nav {
        display: flex;
        align-items: center;
        ul {
          display: flex;
          align-items: center;
          li {
            list-style: none;
            padding-right: 3.42em;
            color: $grey;
            font-size: 0.82em;
            .profile {
              display: flex;
              align-items: center;
              &Name {
                margin-right: 0.5625em;
                p {
                  text-align: right;
                  color: $grey;
                  font-size: 0.625em;
                  margin: 0;
                  &:last-child {
                    font-size: 0.875em;
                  }
                }
              }
              &Image {
                img{
                  border-radius: 50%;
                  width:2.5em;
                  object-fit: cover;

                }
              }
            }
            &:last-child {
              padding-right: 0em;
            }
          }
        }
      }
      .search {
        display: flex;
        align-items: center;
        color: $grey_5;
        font-family: 'Segoe UI';
        svg {
          margin-right: 1em;
        }
        input {
          border: 0;
          outline: none;
          &[placeholder='Search...'] {
            color: $grey_5;
            font-family: 'Segoe UI';
            opacity: 60%;
            font-size: 0.75em;
          }
        }
      }
    }
  }
  .container {
    display: grid;
    grid-template-columns: auto 1fr;
    .main {
      background: $bg;
      height: calc(100vh - 3.75em);
      padding: 2.0625em 1.875em 4.5em;
      overflow-y: auto;
    }

    .sidebar {
      height: calc(100vh - 3.75em);
      width: 16.25em;
    }
  }
  .SideNav {
    font-size: 1rem;
    color: $grey;
    .action {
      display: flex;
      padding-left: 1.9375em;
      align-items: center;
      margin: 2.0625em 0 2em;
    }
    .nav {
      &Container {
   
        margin-bottom: 2.1875em;
        & > div {
          margin-bottom: 0.875em;
          font-size: 0.6875em;
          display: flex;
          align-items: center;
          padding-left: 3.81em;
          svg {
            margin-right: 1em;
            width: 1.454em;
          }
        }
      }
      &List {
        padding-inline-start: 0;
        li {
          list-style: none;
          margin-bottom: 1em;
          font-size: 0.6875em;
          display: flex;
          align-items: center;
          padding-left: 3.81em;
          svg {
            margin-right: 1em;
            width: 1.454em;
          }
        }
       
      }
    }
  }
  .active{
    background-color: rgba(24, 117, 240, 0.1);
    padding: .9em 0;
    border-left: 4px solid $blue-2;
  }
  margin: -8px;
}
