@import '../../styles/variables.scss';
.Layout {
  display: grid;
  grid-template-rows: auto 1fr;
  font-size: 1rem;
  .header {
    padding: 1rem;
    height: 3.75em;
  }
  .container {
    display: grid;
    grid-template-columns: auto 1fr;
    .main {
      background: $bg;
      height: calc(100vh - 3.75em);
      padding: 2.0625em 1.875em 4.5em;
    }

    .sidebar {
      padding: 1rem;
      height: calc(100vh - 3.75em);
      width: 16.25em;
    }
  }
}
