@import '../styles/variables';
.Home {
  font-size: 1rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, auto);
  font-family: 'Segoe UI';

  .stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1em;
    margin-bottom: 1.6875em;
    &Item {
      background: $white;
      height: 4.6875em;
      display: flex;
      justify-content: space-between;
      padding: 0.88em;
      align-items: center;
      border-radius: 2px;
      p {
        margin: 0;
        &:first-child {
          font-size: 0.75em;
          color: $grey_2;
          line-height: 133%;
        }
        font-size: 1.125em;
      }
    }
  }
  .analytics {
    background: $white;
    height: 20.56em;
    display: grid;
    grid-template-columns: 64.7% 35.3%;
    margin-bottom: 1.6875em;
    .graph {
    }
    .summary {
      padding-right: 2.9375em;
      h3 {
        font-size: 0.875em;
        margin-bottom: 0.785em;
      }
      .progressBar {
        height: 0.25em;
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 0.6875em;
        div {
          &:first-child {
            width: 70%;
            background: $green;
            height: 100%;
          }
          &:last-child {
            width: 30%;
            height: 100%;
            background: $yellow;
          }
        }
      }
      & > div {
        p {
          font-size: 0.875em;
          color: $dark-text2;
          margin: 0 0 0.714em;
          &:nth-of-type(n + 1) {
            span {
              color: $yellow;
            }
          }
          &:nth-of-type(n + 2) {
            span {
              color: $green;
            }
          }
          &:nth-of-type(n + 3) {
            span {
              color: $blue;
            }
          }
          span {
            font-weight: bold;
          }
        }
      }
    }
  }
  .payments {
    h2 {
      font-size: 1.625em;
      font-weight: normal;
      margin: 0 0 0.805em;
    }
    .table {
      &action {
      }
    }
    &Header {
      &Action {
        display: grid;
        align-items: center;
        justify-content: space-between;
        grid-template-columns: auto 1fr;
        font-size: 0.8125em;
        grid-column-gap: 4.38em;
        font-family: 'Segoe UI';
        .actions {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .search {
            display: flex;
            border-bottom: 1px solid $dark-text3;
            color: $dark-text3;
            align-items: center;
            padding-bottom: 0.25em;
            min-width: 21em;
            input {
              border: 0;
              outline: 0;
              background: transparent;
              padding-left: 1em;
              color: $grey;
              font-family: 'Segoe UI';
              font-size: 0.846em;
            }
          }
          .dropDown {
            display: flex;
            align-items: center;
            p {
              margin: 0 1em 0 0;
            }
          }
        }
        span {
          color: $blue;
          display: inline-flex;
          align-items: center;
          margin: 0 .5em 0 1.428em;
          svg{
            margin-left: 0.5em;
          }
        }
      }
    }
  }
  .initials {
    display: flex;
    align-items: center;
    & > div {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background: $grey_4;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1.625em;
      color: $white;
    }
  }
}
