@import '../styles/variables';
.Home {
  font-size: 1rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, auto);
  font-family: 'Segoe UI';

  .stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1em;
    margin-bottom: 1.6875em;
    &Item {
      background: $white;
      height: 4.6875em;
      display: flex;
      justify-content: space-between;
      padding: 0.88em;
      align-items: center;
      border-radius: 2px;
      p {
        margin: 0;
        &:first-child {
          font-size: 0.75em;
          color: $grey_2;
          line-height: 133%;
        }
        font-size: 1.125em;
      }
    }
  }
  .analytics {
    background: $white;
    height: 20.56em;
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-bottom: 2.6875em;
    .graph {
      width: 43.06em;
    }
    .summary {
      .progressBar {
        height: 0.25em;
        width: 100%;
      }
      & > div {
        p {
          font-size: 0.875em;
          color: $dark-text2;
          margin: 0 0 0.714em;
          &:nth-of-type(n + 1) {
            span {
              color: $yellow;
            }
          }
          &:nth-of-type(n + 2) {
            span {
              color: $green;
            }
          }
          &:nth-of-type(n + 3) {
            span {
              color: $blue;
            }
          }
          span {
            font-weight: bold;
          }
        }
      }
    }
  }
  .payments {
    h2 {
      font-size: 1.625em;
      font-weight: normal;
    }
    .table {
      &action {
      }
    }
  }
}
