@import '../../styles/variables';

.Table {
  font-size: 1rem;
  background: $white;
  table {
    border-spacing: 0px;
    width: 100%;
    thead {
      background: $grey_3;
      tr {
        color: $grey_4;
        th {
          text-align: left;
          padding: 1.875em;
          font-size: 0.875em;
          font-weight: normal;
          line-height: 135%;
        }
      }
    }
    tbody {
      tr {
        td {
          padding: 1.875em;
          text-align: left;
          font-size: 0.875em;
          color: $grey_4;
          line-height: 135%;
          &:first-child {
            color: $dark-text;
          }
        }
      }
    }
  }
}
